table.bikeTable{
  border: 1px solid;
}

thead th{
  border: 1px solid;
}

tbody th{
  font-weight: normal;
  border: 1px solid;
}

tbody tr td{
  border: 1px solid;
}

tbody tr td:nth-child(2){
  border: 1px solid black;
  color: red;
}

tbody tr td:nth-child(4){
  border: 1px solid black;
  color: blue;
}

tfoot tr td{
  border: 1px solid;
}

dd:hover{
  background: purple;
}